#this is an example of .env file. copy it to .env file and fill it(or just use it as an example of filling your user secrets)

#do NOT expose it on github(by default it is excluded in gitignore)

#Connection string for MongoDB(not required if you are using docker-compose)
MongoDbOptions__ConnectionString=mongodb://localhost:27017

#DbName for MongoDB(Required whether using docker-compose or local instance)
MongoDbOptions__DatabaseName=your_database_name

#DbUsername & DbPassword for MongoDB(Required for docker-compose)
MongoDbOptions__Username=your_mongodb_username
MongoDbOptions__Password=your_mongodb_password

#Application password for SMTP client authorization(16-digit code.Obtained in account passwords.See in gmail settings)
EmailNotificationOptions__ApplicationPassword=your_email_password

EmailNotificationOptions__Port=587
EmailNotificationOptions__SenderEmail=your email that is used to send email notifications
EmailNotificationOptions__SenderName=the name of the sender that is used to send email notifications
EmailNotificationOptions__SMTPClientUrl=for gmail(smtp.gmail.com).

#RabbitMqOptions
RabbitMqOptions__ServerHost=localhost(Or container name of rabbitmq service in docker-compose)

#username and password for rabbitmq debug service(if running on compose, these credentials must be the same as the ones in main docker-compose.yml to pass authentication)
RabbitMqOptions__Username=your_rabbitmq_username
RabbitMqOptions__Password=your_rabbitmq_password

#Auth0Options
Auth0Options__Domain=your_auth0_domain

#audience of the JWT(example:https://Vladify/musicAPI)
Auth0Options__Audience=

#TEST_JWT_KEY(used for creating jwt in integration tests only. It is not used in production).Must be more than 32 characters long.
TEST_JWT_KEY=your_superlong_test_jwt_key

#ASPNET_ENVIRONMENT(used for .NET Core to determine the environment of the application. It can be Development, Staging, or Production)
ASPNETCORE_ENVIRONMENT=Development
